# MacOS files
.DS_Store

# Fastlane files
fastlane/build
fastlane/logs
fastlane/report.xml

# Build files
Build/*

# CocoaPods files
Pods/*

# Versioning files
Version.h

# User files
IDEWorkspaceChecks.plist
**/xcuserdata/*